name: Measure coverage

on:
  pull_request:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:  
      - name: 체크 아웃
        uses: actions/checkout@v4
      - name: Run Coverage
        run: |
          chmod +x gradlew
          ./gradlew test
      - name: 테스트 커버리지를 PR에 코멘트로 등록합니다
        id: jacoco
        uses: madrapps/jacoco-report@v1.6.1
        with:
          paths: ${{ github.workspace }}/**/build/reports/jacoco/test/jacocoTestReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 10
          min-coverage-changed-files: 10
          title: Code Coverage
